/* offline test styles */
*
{
	padding: 0;
	margin: 0;
}

body
{
	font-family: arial, helvetica, sans-serif;
	font-size: 85%;
	margin: 10px;
	color: #333;
	background-color: #fff;
}

h1
{
	font-size: 1.6em;
	font-weight: normal;
	margin-bottom: 0.5em;
}

p
{
	margin-bottom: 1em;
}

p#status
{
	width: 90%;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	padding: 4px;
	color: #fff;
	background-color: #090;
}

p#status.offline
{
	background-color: #900;
}

fieldset
{
	border: 0 none;
	margin: 1em 0;
}

legend
{
	font-weight: bold;
}

input
{
	width: 5em;
}


/* interface */
.button {
    border: 1px solid #097bfc;
    border-radius: 15px 15px 15px 15px;
    display: block;
    float: left;
    font-size: 40px;
    height: 60px;
    margin: 10px;
    padding: 10px;
    width: 60px;
    text-align: center;
    vertical-align: middle;
}

.reset {
    border-radius: 7px 7px 7px 7px;
    font-size: 15px;
    height: 30px;
    width: 90%;
    padding: 4px 116px;
    margin: 0;
}

.scoreboard input {
    font-size: 20px;
    background-color: #03C9FF;
    border: 0;
}

.clearer {
    clear:both;
}
.round-corners{
    -moz-border-radius: 15px;
    border-radius: 15px;
} 

/* columns */
.column-1 {
    width:30%;
    float:left;
  }
.column-2 {
    width:30%;
  }
.column-3 {
        width:30%;
        float: right
  }
  
.row {
    clear:both
}

.column-1, .column-2, .column-3, #totals label, #totals .field, #differences input, #hours input {
    position: relative;
    float: left;
    
    /*align center*/
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

.slider {
    /*align center*/
    margin-left:auto;
    margin-right:auto;
}

#differences input, #hours input {
    border: 0;
    margin: 0;
    padding: 0;
}

#totals label {
    float: left;
    width: 50%;
    text-align: right;
}

#totals .field {
    width: 50%;
}

#main {
    margin: 2% auto;
    width: 250px;
}